body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.menu-asosiy{
  display: flex;
}

.app-bar {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-btn {
  font-weight: bold;
  font-size: medium;
  border: 1px solid #000000;
  padding: 7px;
  border-radius: 5px;
  background: linear-gradient(90deg, #6212ca, #d811d8);
  color: #fff;
  text-decoration: none;
  display: block;
}
.menu-btns{
  padding: 7px;
  border-color: #8e3434;
  background-color: #333;
  color: #ffffff;
  font-weight: bold;
  border-radius: 7px;
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px; /* Start off screen */
  background-color: #333;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
  z-index: 1;
}

.sidebar.active {
  left: 0; /* Slide in when active */
}

.sidebar button.closebtn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  background: none;
  border: none;
  color: #ffffff;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px 20px;
  border-bottom: 1px solid #555;
}

.sidebar ul li a {
  -webkit-user-drag: none;
  text-decoration: none;
  color: #ffffff;
}

.sidebar ul li a:hover {
  color: #fff;
  background-color: #333;
}

.content {
  margin-left: 0;
  padding: 10px;
}

.content section {
  margin-bottom: 40px;
}

.content h2 {
  margin-top: 0;
}
.image-button img {
  -webkit-user-drag: none;
  max-width: 100%; /* Ensure images don't exceed button width */
  max-height: 100%; /* Ensure images don't exceed button height */
}
.content {
  text-align: center; /* Center the content */
}
.asosiy-rasm {
  max-width: 100%; /* Make the image responsive */
  height: auto; /* Maintain aspect ratio */
  margin-top: 7px; /* Add some space above the image */
  margin-bottom: 10px;
}
div {
  user-select: none;
}
label{
  font-size: x-small;
  color: white;
  font-weight: bold;
}
.flex-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: left; /* Adjust the horizontal spacing */
  gap: 10px; /* Adjust the gap between buttons */
}
.image-button {
  flex: auto;
  width: 60px; /* Adjust the width of each button */
  height: auto; /* Adjust the height of each button */
  max-width: 200px;
  border: 1px solid #000000; /* Adjust the border */
  border-radius: 5px; /* Adjust the border radius */
  text-align: center;
  cursor: pointer;
  overflow: hidden; /* Ensure images don't overflow the button */
  background: linear-gradient(90deg, #6212ca, #d811d8);
}
